@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
}

/* Your custom input class */
.input-field {
  @apply w-full border border-gray-300 px-3 py-2 rounded focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm;
}